<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesan Rahasia</title>
    <link rel="stylesheet" href="style/secret.css">
</head>
<body>
    <div class="container">
        <h1>Pesan Rahasia Untuk Kamu</h1>
        <p>Hai Reni, ada sesuatu yang mau aku sampaikan...</p>
        
        <div class="message-box">
            <p><em>
                "Kamu adalah seseorang yang spesial, dan aku selalu berharap kamu bahagia.  
                Jadi diri sendiri itu baik daripada jadi orang lain.  
                Jangan jadi seperti diriku yang ngecewain kamu.  
                Tetaplah setia pada pasanganmu, Reni.  
                Walaupun ada masalah dalam hubungan, jangan sekali-kali menyelesaikannya dengan mengakhiri hubungan tersebut.  
                Aku pastikan jika kau mengakhirinya, suatu saat akan menyesalinya (maybe).  
                Udah sih, makasih..."
            </em></p>
        </div>
   
        <div class="dropdown">
            <div class="dropdown-header" id="dropdownHeader2">
                <p>Baca ini juga plis..</p>
                <span class="dropdown-icon">&#10095;</span>
            </div>
            <div class="dropdown-content" id="dropdownContent2">
                <p>Dulu, aku selalu berpikir waktu akan memberi kita kesempatan kedua. Tapi ternyata, waktu hanya terus berjalan tanpa menunggu siapa pun. Aku sadar, ada banyak hal yang mungkin tidak bisa aku ubah, termasuk kesalahan yang pernah aku buat. Tapi satu hal yang pasti, aku ingin kamu tahu kalau aku selalu menginginkan yang terbaik untukmu. Tidak peduli di mana atau dengan siapa kamu nanti, aku harap kamu bahagia, lebih dari siapapun. Jika suatu hari kamu mengingatku, aku ingin itu menjadi kenangan baik, bukan sesuatu yang menyakitkan. Dan kalaupun kita tak bisa kembali seperti dulu, setidaknya aku pernah ada dalam cerita hidupmu.</p>
            </div>
        </div>

        <nav>
            <a href="lobi.html">Kembali</a>
            <a href="flowers-for-someone-flowers/index.html">🌸 Flower</a>
        </nav>

        <div class="whatsapp-container">
            <a href="https://wa.me/62895361417615?text=Hai%20aku%20udah%20baca%20pesan%20di%20website%20kamu,%20Minta%20THR%20dong!" 
            class="whatsapp-button">
            <span class="wa-icon">💬</span> Balas via WhatsApp
            </a>
        </div>
    </div>

    <audio id="bg-music" autoplay loop>
        <source src="audio/phot.mp3" type="audio/mp3">
        Browser kamu tidak mendukung audio.
    </audio>

    <script src="style/script.js" defer></script>
</body>
</html>