<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='darkmode.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
</head>
  <body class="{{ 'dark-theme' if get_user().get('dark_mode') else '' }}">
    <header>
        <button id="toggleSettings">☰</button>
    </header>
    
    <div id="settingsPanel" class="settings-panel hidden">
        <h2>Pengaturan</h2>
        <p>Ini konten pengaturan kamu, Lucky!</p>
        <ul class="settings-menu">
            <li><a href="{{ url_for('tema') }}">Tema</a></li>
            <li><a href="#">Notifikasi</a></li>
            <li><a href="{{ url_for('settings') }}">Pengaturan</a></li>
        </ul>
    </div>

    <h2>Selamat datang, {{ username }}!</h2>

    <div class="button-container">
        <a href="{{ url_for('input_service') }}" class="button-link">  <button>Data service</button></a>
        </a>
        <a href="{{ url_for('update_status') }}" class="button-link">
            <button>Update Status</button>
        </a>
        <a href="{{ url_for('riwayat') }}" class="button-link">
            <button>Riwayat Service</button>
        </a>
        <a href="{{ url_for('pengguna_online') }}" class="button-link">
            <button>Pengguna Online</button>
        </a>
        <a href="{{ url_for('admin_diary') }}" class="button-link">
            <button>Catatan Diary Admin</button>
        </a>
    </div>

    <a href="{{ url_for('logout') }}" class="button-link">
        <button class="logout-button">Logout</button>
    </a>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>