<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="top-bar">
            <a href="/" class="register-btn">Login</a>
        </div>
        <h2>Register</h2>
        <form action="/register" method="POST">
            <input type="text" name="username" placeholder="Username" required><br>
            <input type="email" name="email" placeholder="Email" required><br>
            <input type="password" name="password" placeholder="Password" required><br>
            <input type="password" name="confirm_password" placeholder="Konfirmasi Password" required><br>
            <button type="submit">Register</button>
        </form>
        <p class="register-text">Sudah punya akun? <a href="/">Login sekarang</a></p>
    </div>
</body>
</html>